* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: block;
  font-family: Questrial, sans-serif;
  background: rgb(0, 1, 1);
  color: rgb(12, 12, 12);
}
nav {
  height: 10vh;
  background: rgb(0, 0, 0);
  display: flex;
  min-width: 8vh;
  z-index: 10;
}
a {
  text-decoration: none;
}
nav a {
  color: #000000;
  padding: 20px;
  font-size: 15px;
}
nav a:hover {
  background-color: #ffff66;
  color: #000000;
  padding: 10px 20px;
  border-radius: 30px;
}
a {
  text-decoration: none;
}
.navved {
  padding: 10px 20px;
  background-color: #000000;
  border-radius: 30px;
  color: rgb(0, 0, 0);
}
.logo {
  color: #b8b80a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 20%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.nav-links li a {
  color: #ffff66;
  text-decoration: none;
  font-size: 16px;
}
.nav-links li a:hover {
  color: #000000;
}
.white {
  color: white;
}
.black {
  color: black;
}
.cyan {
  color: cyan;
}
.px60 {
  font-size: 50px;
}
.px30 {
  font-size: 30px;
}
.px20 {
  font-size: 20px;
}
.px28 {
  font-size: 28px;
}
.px40 {
  font-size: 40px;
}
@media (min-width: 900px) {
  .hidden-lg {
    display: none;
  }
  .col-1 {
    width: 8.33%;
    position: relative;
    float: left;
  }
  .col-2 {
    width: 16.66%;
    position: relative;
    float: left;
  }
  .col-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .col-4 {
    width: 33.33%;
    position: relative;
    float: left;
  }
  .col-5 {
    width: 41.66%;
    position: relative;
    float: left;
  }
  .col-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .col-7 {
    width: 58.33%;
    position: relative;
    float: left;
  }
  .col-8 {
    width: 66.66%;
    position: relative;
    float: left;
  }
  .col-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .col-10 {
    width: 83.33%;
    position: relative;
    float: left;
  }
  .col-11 {
    width: 91.66%;
    position: relative;
    float: left;
  }
  .col-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .off-1 {
    margin-left: 8.33%;
  }
  .off-2 {
    margin-left: 16.66%;
  }
  .off-3 {
    margin-left: 25%;
  }
  .off-4 {
    margin-left: 33.33%;
  }
  .off-5 {
    margin-left: 41.66%;
  }
  .off-6 {
    margin-left: 50%;
  }
  .off-7 {
    margin-left: 58.33%;
  }
  .off-8 {
    margin-left: 66.66%;
  }
  .off-10 {
    margin-left: 83.33%;
  }
  .down-1 {
    margin-top: 1%;
  }
  .down-2 {
    margin-top: 2%;
  }
  .down-3 {
    margin-top: 3%;
  }
  .down-4 {
    margin-top: 4%;
  }
  .down-5 {
    margin-top: 5%;
  }
  .down-8 {
    margin-top: 8%;
  }
  .down-10 {
    margin-top: 10%;
  }
  .down-15 {
    margin-top: 15%;
  }
  .down-20 {
    margin-top: 20%;
  }
  .down-25 {
    margin-top: 25%;
  }
  .down-30 {
    margin-top: 30%;
  }
}
@media (max-width: 899px) {
  .line {
    width: 30px;
    height: 3px;
    background: rgb(17, 4, 4);
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .bottom-50 {
    padding-bottom: 50px;
  }
  .nav-links {
    position: fixed;
    background: #ffff66;
    color: black !important;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
    color: #000000;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  .hidden-xs {
    display: none;
  }
  .xs-1 {
    width: 8.33%;
    position: relative;
    float: left;
  }
  .xs-2 {
    width: 16.66%;
    position: relative;
    float: left;
  }
  .xs-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .xs-4 {
    width: 33.33%;
    position: relative;

    float: left;
  }
  .xs-5 {
    width: 41.66%;
    position: relative;
    float: left;
  }
  .xs-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .xs-7 {
    width: 58.33%;
    position: relative;
    float: left;
  }
  .xs-8 {
    width: 66.66%;
    position: relative;
    float: left;
  }
  .xs-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .xs-10 {
    width: 83.33%;
    position: relative;
    float: left;
  }
  .xs-11 {
    width: 91.66%;
    position: relative;
    float: left;
  }
  .xs-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .xs-left-align {
    text-align: left;
  }
  .xs-off-1 {
    margin-left: 8.33%;
  }
  .xs-off-2 {
    margin-left: 16.66%;
  }
  .xs-off-3 {
    margin-left: 25%;
  }
  .xs-off-4 {
    margin-left: 33.33%;
  }
  .xs-off-5 {
    margin-left: 41.66%;
  }
  .xs-off-6 {
    margin-left: 50%;
  }
  .xs-off-7 {
    margin-left: 58.33%;
  }
  .xs-off-8 {
    margin-left: 66.66%;
  }
  .xs-off-10 {
    margin: 100%;
  }
  .xs-down-1 {
    margin-top: 1%;
  }
  .xs-down-3 {
    margin-top: 3%;
  }
  .xs-down-4 {
    margin-top: 4%;
  }
  .xs-down-5 {
    margin-top: 5%;
  }
  .xs-down-8 {
    margin-top: 8%;
  }
  .xs-down-10 {
    margin-top: 10%;
  }
  .xs-down-15 {
    margin-top: 15%;
  }
  .xs-down-20 {
    margin-top: 20%;
  }
  .xs-down-25 {
    margin-top: 25%;
  }
  .xs-down-30 {
    margin-top: 30%;
  }
  .xs-down-40 {
    margin-top: 40%;
  }
  .xs-down-50 {
    margin-top: 50%;
  }
  .xs-down-135 {
    margin-top: 135%;
  }
  .xs-down-150 {
    margin-top: 150%;
  }
  .xs-px-4 {
    font-size: 4px !important;
  }
  .xs-px12 {
    font-size: 12px !important;
  }
  .xs-px15 {
    font-size: 15px !important;
  }
  .xs-px16 {
    font-size: 16px !important;
  }
  .xs-px18 {
    font-size: 16px !important;
  }
  .xs-px20 {
    font-size: 20px !important;
  }
  .xs-px25 {
    font-size: 25px !important;
  }
  .xs-px23 {
    font-size: 23px !important;
  }
  .xs-px30 {
    font-size: 30px !important;
  }
  .xs-px40 {
    font-size: 40px !important;
  }
  .hidden-xs {
    display: none;
  }
  .xs-1 {
    width: 8.33%;
    position: relative;
    float: left;
  }
  .xs-2 {
    width: 16.66%;
    position: relative;
    float: left;
  }
  .xs-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .xs-4 {
    width: 33.33%;
    position: relative;

    float: left;
  }
  .xs-5 {
    width: 41.66%;
    position: relative;
    float: left;
  }
  .xs-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .xs-7 {
    width: 58.33%;
    position: relative;
    float: left;
  }
  .xs-8 {
    width: 66.66%;
    position: relative;
    float: left;
  }
  .xs-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .xs-10 {
    width: 83.33%;
    position: relative;
    float: left;
  }
  .xs-11 {
    width: 91.66%;
    position: relative;
    float: left;
  }
  .xs-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .xs-left-align {
    text-align: left;
  }
  .xs-off-1 {
    margin-left: 8.33%;
  }
  .xs-off-2 {
    margin-left: 16.66%;
  }
  .xs-off-3 {
    margin-left: 25%;
  }
  .xs-off-4 {
    margin-left: 33.33%;
  }
  .xs-off-5 {
    margin-left: 41.66%;
  }
  .xs-off-6 {
    margin-left: 50%;
  }
  .xs-off-7 {
    margin-left: 58.33%;
  }
  .xs-off-8 {
    margin-left: 66.66%;
  }
  .xs-off-10 {
    margin: 100%;
  }
  .xs-down-1 {
    margin-top: 1%;
  }
  .xs-down-3 {
    margin-top: 3%;
  }
  .xs-down-5 {
    margin-top: 5%;
  }
  .xs-down-8 {
    margin-top: 8%;
  }
  .xs-down-10 {
    margin-top: 10%;
  }
  .xs-down-15 {
    margin-top: 15%;
  }
  .xs-down-20 {
    margin-top: 20%;
  }
  .xs-down-25 {
    margin-top: 25%;
  }
  .xs-down-30 {
    margin-top: 30%;
  }
  .xs-down-40 {
    margin-top: 40%;
  }
  .xs-down-50 {
    margin-top: 50%;
  }
  .xs-down-135 {
    margin-top: 135%;
  }
  .xs-down-150 {
    margin-top: 150%;
  }
  .xs-px-4 {
    font-size: 4px !important;
  }
  .xs-px12 {
    font-size: 12px !important;
  }
  .xs-px15 {
    font-size: 15px !important;
  }
  .xs-px16 {
    font-size: 16px !important;
  }
  .xs-px18 {
    font-size: 16px !important;
  }
  .xs-px20 {
    font-size: 20px !important;
  }
  .xs-px25 {
    font-size: 25px !important;
  }
  .xs-px23 {
    font-size: 23px !important;
  }
  .xs-px30 {
    font-size: 30px !important;
  }
  .xs-px40 {
    font-size: 40px !important;
  }
  .img-container {
    width: 150px;
    height: auto;
  }
  .shift-centre {
    text-align: center;
  }
}
@media (min-width: 790px) and (max-width: 899px) {
  .hidden-md {
    display: none;
  }
  .md-1 {
    width: 8.33%;
    position: relative;
    float: left;
  }
  .md-2 {
    width: 16.66%;
    position: relative;
    float: left;
  }
  .md-3 {
    width: 25%;
    position: relative;
    float: left;
  }
  .md-4 {
    width: 33.33%;
    position: relative;

    float: left;
  }
  .md-5 {
    width: 41.66%;
    position: relative;
    float: left;
  }
  .md-6 {
    width: 50%;
    position: relative;
    float: left;
  }
  .md-7 {
    width: 58.33%;
    position: relative;
    float: left;
  }
  .md-8 {
    width: 66.66%;
    position: relative;
    float: left;
  }
  .md-9 {
    width: 75%;
    position: relative;
    float: left;
  }
  .md-10 {
    width: 83.33%;
    position: relative;
    float: left;
  }
  .md-11 {
    width: 91.66%;
    position: relative;
    float: left;
  }
  .md-12 {
    width: 100%;
    position: relative;
    float: left;
  }
  .md-left-align {
    text-align: left;
  }
  .md-off-1 {
    margin-left: 8.33%;
  }
  .md-off-2 {
    margin-left: 16.66%;
  }
  .md-off-3 {
    margin-left: 25%;
  }
  .md-off-4 {
    margin-left: 33.33%;
  }
  .md-off-5 {
    margin-left: 41.66%;
  }
  .md-off-6 {
    margin-left: 50%;
  }
  .md-off-7 {
    margin-left: 58.33%;
  }
  .md-off-8 {
    margin-left: 66.66%;
  }
  .md-off-10 {
    margin: 100%;
  }
  .md-down-1 {
    margin-top: 1%;
  }
  .md-down-3 {
    margin-top: 3%;
  }
  .md-down-5 {
    margin-top: 5%;
  }
  .md-down-8 {
    margin-top: 8%;
  }
  .md-down-10 {
    margin-top: 10%;
  }
  .md-down-15 {
    margin-top: 15%;
  }
  .md-down-20 {
    margin-top: 20%;
  }
  .md-down-25 {
    margin-top: 25%;
  }
  .md-down-30 {
    margin-top: 30%;
  }
  .md-down-50 {
    margin-top: 50%;
  }
  .md-down-70 {
    margin-top: 70%;
  }
  .md-down-80 {
    margin-top: 80%;
  }
  .md-down-135 {
    margin-top: 135%;
  }
  .md-down-150 {
    margin-top: 150%;
  }
  .md-px-4 {
    font-size: 4px !important;
  }
  .md-px12 {
    font-size: 12px !important;
  }
  .md-px15 {
    font-size: 15px !important;
  }
  .md-px16 {
    font-size: 16px !important;
  }
  .md-px18 {
    font-size: 16px !important;
  }
  .md-px20 {
    font-size: 20px !important;
  }
  .md-px25 {
    font-size: 25px !important;
  }
  .md-px30 {
    font-size: 30px !important;
  }
  .md-px40 {
    font-size: 40px !important;
  }
  .md-px60 {
    font-size: 60px !important;
  }
}
.yellow {
  color: #ffff66;
}
.btn {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
  transition: 0.3s ease-in-out;
  background: #ffff66;
  color: black;
  cursor: pointer;
}
.img-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-container img {
  width: 300px;
  height: 300px;
}
.img-container-2 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-container-2 img {
  width: 300px;
  height: 250px;
}
.img-container-3 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-container-3 img {
  width: 80%;
  height: auto;
}
.border-radius {
  border-radius: 60%;
}
.bg-white {
  background: white;
}
.bg-dark {
  background: black;
}
.bg-cyan {
  background: cyan;
}
.bottom-50 {
  padding-bottom: 50px;
}
.shift-centre {
  text-align: center;
}
.skew {
  margin-top: 200px;
  padding: 100px 0;
  bottom: 200px;
  transform: skew(0deg, -6deg);
  background: rgb(236, 242, 123);
}
.content {
  text-align: center;
  transform: skew(0deg, 6deg);
  padding-top: 30px;
}
.skewed {
  width: 100%;
  margin: 0 auto;
  transition: transform 0.25s linear;
}
.size-enlarge:hover {
  transform: scale(1.2);
}
.obj-skew:hover {
  transform: skew(20deg);
}
.shift-centre {
  text-align: center;
}
